POSTGRES_DB=tank_arena
POSTGRES_USER=tank_arena
POSTGRES_PASSWORD=replace-me
POSTGRES_PORT=5432
REDIS_PASSWORD=replace-me
REDIS_PORT=6379
REDIS_COMMANDER_PORT=8082
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=replace-me
PGADMIN_PORT=8081
